.image-gallery-item_wrapper {
  border: 2px solid transparent;
  padding: 4px;
  cursor: pointer;
  max-width: 100px;
  place-self: center;

  &:hover {
    border-color: gray;
  }

  &.image-gallery-item_selected {
    border: 2px solid blue;
  }

  & img {
    width: 100%;
    height: auto;
  }
}
