.image-gallery-item_wrapper {
  border: 2px solid transparent;
  padding: 4px;
  cursor: pointer;
  place-self: center;
  position: relative;

  &:hover {
    border-color: gray;
  }

  &.image-gallery-item_selected {
    border: 2px solid #007bff;
  }

  img {
    width: 100%;
    height: auto;
  }

  .image-gallery-item_controls {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
