.image-gallery_wrapper {
  padding: 10px;
  background-color: #111;
}

.image-gallery-items_wrapper {
  display: grid;
  max-height: 80vh;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 8px;
}
