:root {
  color-scheme: dark;
}

html {
  margin: auto;
  padding: 0;
  background-color: black;
}

body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
}
