:root {
  color-scheme: dark;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000aa;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  width: 100%;
  height: 100%;
}
