.layout-controls_wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3px;
  padding: 10px;
}

.layout-controls_title {
  align-self: center;
}

.layout-controls_range-input {
  display: inline-flex;
  width: 190px;
}
