select {
  padding: 4px 1px 0px 1px;
  background-color: #333;
  color: white;
  border: 2px solid #333;
  border-radius: 3px;
}

button {
  border-radius: 3px;
  margin: 2px;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #007bff;
    color: white;
  }
}

button.is-selected {
  background-color: #007bff;
}
